<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <style>
        body{
        text-align:center
        }
    </style>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</head>
<body>
<h1><b>Resume Editor</b></h1><hr><br>
<form method="POST" class="registerForm" id="registerForm"
      th:action="@{/user/signup}" accept-charset="UTF-8">
    <div class="form-group">
        <label th:for="role">Role:</label>
        <input type="radio" name="role" id="admin" value='ADMIN'/>admin
        <input type="radio" name="role" id="user" checked="checked" value='USER'/>user<br><br>
        <label th:for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Your Email"/><span id="emailCheckResult"></span>
        <button type="button" id="emailCheck">중복확인</button><br>
        <input type="hidden" id="sendEmail" value="verify" />
        <input type="hidden" name="authCode" id="authCode" placeholder="Verification Code">
        <input type="hidden" id="verifyEmail" value="verify"/>
        <span id="verifiedEmail"></span>
    </div><br><br>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Your Name"/>
    </div>
    <div class="form-group">
        <label for="nickname">Nickname:</label>
        <input type="text" name="nickname" id="nickname" placeholder="Your Nickname"/>
        <button type="button" id="nicknameCheck">중복확인</button>
        <span id="nicknameCheckResult"></span>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" oninput="pwConfirm()" onchange="pwValidCheck()" placeholder="Password"/>
        <br>
        <label for="passwordCheck">Password Check:</label>
        <input type="password" name="passwordCheck" id="passwordCheck" oninput="pwConfirm()" placeholder="Password Check"/>
        <span id="regexCheckResult"></span>
        <span id="passwordCheckResult"></span>
    </div>
    <br>
    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" name="age" id="age" placeholder="Your Age"/>
    </div>
    <div class="form-group">Birthdate:
        <label for="birthdate"></label>
        <input type="text" name="birthdate" id="birthdate" placeholder="YYMMDD"/>
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="radio" name="gender" checked="checked" id="gender" value='m'/>male
        <input type="radio" name="gender" value='f'/>female
    </div>
    <br>
    <div class="form-group">
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation" id="occupation" placeholder="Your Occupation"/>
    </div>
    <div class="form-group">Company:
        <label for="company"><i class="zmdi zmdi-lock-outline"></i></label>
        <input type="text" name="company" id="company" placeholder="Your Company"/>
    </div>
    <div class="form-group">
        <label for="wish">Wish:</label>
        <input type="text" name="wish" id="wish" placeholder="Your Dream Company"/>
    </div>
    <div class="form-group">Status:
        <input type="radio" name="status" value="1"/>신입
        <input type="radio" name="status" value="2"/>경력
    </div>
    <br>
    <hr>
    <div class="form-group form-button">
        <button type="button" onclick="javascript:location.reload();">reset</button>
        <button type="submit">signup</button><br>
        <h4><a href="/login">로그인</a></h4>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </div>
</form>
</body>
<script>
    $(document).ready(function(){
        $('#sendEmail').click(function(){
            var email=$('#email').val();
            $.ajax({
                url:'/user/signup/mailSend',
                type:'POST',
                dataType:'json',
                data:{
                    email:email
                },
                cache:false,
                success:function(data){
                    alert(JSON.stringify(data));
                },
                error:function(error){
                    alert('error: '+error.status);
                }
            })//ajax
            $('#authCode').attr("type","text");
            $('#verifyEmail').attr("type","button");
        })//#sendEmail
        $('#verifyEmail').click(function(){
            var email=$('#email').val();
            var code=$('#authCode').val();
            $.ajax({
                url:'/user/signup/mailAuthCheck',
                type:'POST',
                dataType:'json',
                data:{
                    email:email,
                    authCode:code
                },
                cache:false,
                success:function(data){
                    alert(JSON.stringify(data));
                    $('#verifiedEmail').empty();
                    $('#verifiedEmail').html('<h5 style="color:blue">이메일 인증 성공</h5>');
                },
                error:function(error){
                    alert('error: '+error.status);
                    $('#verifiedEmail').empty();
                    $('#verifiedEmail').html('<h5 style="color:red">이메일 인증 실패. 인증 번호를 확인해주세요.</h5>');
                }
            })//ajax
        })//#verifyEmail
        $('#emailCheck').click(function(){
            $('#emailCheckResult').empty();
            var email=$('#email').val();
            if(email=="" || email.trim()==""){
                alert('이메일을 입력해주세요.');
                return;
            }
            $.ajax({
                url:'/user/signup/email/exists',
                type:'POST',
                dataType:'json',
                data:{
                    email:email
                },
                cache:false,
                success:function(data){
                    //alert(JSON.stringify(data));
                    if(data.result=="false"){
                        $('#emailCheckResult').html('<h5 style="color:blue">사용 가능한 이메일입니다.</h5>');
                        $('#sendEmail').attr("type","button");
                    }else if(data.result=="true"){
                        $('#emailCheckResult').html('<h5 style="color:red">이미 사용 중인 이메일입니다.</h5>');
                    }
                },
                error:function(error){
                    alert('error: '+error.status);
                }
            })//ajax
        })//#emailCheck
        $('#nicknameCheck').click(function(){
            $('#nicknameCheckResult').empty();
            var nickname=$('#nickname').val();
            if(nickname=="" || nickname.trim()==""){
                alert('닉네임을 입력해주세요.');
                return;
            }
            $.ajax({
                url:'/user/signup/nickname/exists',
                type:'POST',
                dataType:'json',
                data:{
                    nickname:nickname
                },
                cache:false,
                success:function(data){
                    //alert(JSON.stringify(data));
                    if(data.result=="false"){
                        $('#nicknameCheckResult').html('<h5 style="color:blue">사용 가능한 닉네임입니다.</h5>');
                    }else if(data.result=="true"){
                        $('#nicknameCheckResult').html('<h5 style="color:red">이미 사용 중인 닉네임입니다.</h5>');
                    }
                },
                error:function(error){
                    alert('error: '+error.status);
                }
            })//ajax
        })//#nicknameCheck
    })
     var pwConfirm=function(){
           var password=$('#password').val();
           var passwordCheck=$('#passwordCheck').val();

           if(password==passwordCheck){
                $('#passwordCheckResult').html('<h5 style="color:blue">비밀번호가 일치합니다.</h5>');
           }else if(password!=passwordCheck){
                $('#passwordCheckResult').html('<h5 style="color:red">비밀번호가 일치하지 않습니다.</h5>');
           }
     }//pwConfirm()
    var pwValidCheck=function(){
            var password=$('#password').val();
            //대소문자 + 숫자 + 특수문자가 각각 1개 이상 + 8~16자리 사이 문자열
            var regex=/^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{6,12}$/.test(password);   // true, false
            if(regex){
                $('#regexCheckResult').empty();
                $('#passwordCheckResult').empty();
                $('#passwordCheck').attr("disabled", false);
            }else if(!regex){
                $('#regexCheckResult').empty();
                $('#passwordCheck').val('');
                $('#passwordCheckResult').empty();
                $('#passwordCheck').attr("disabled", true);
                $('#regexCheckResult').html('<h5 style="color:red">비밀번호는 소문자, 숫자, 특수문자가 각각 1개 이상인 6~12자리 사이 문자열만 가능합니다.</h5>');
            }
    }
</script>
</html>